html,
body {
    height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
}
#textbox {
  display: block;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 24px;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
}
button:disabled
{
    background-color: gray;
    cursor: default;
}
.result {
    background-color: gray;
    height: 55px;
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}